<p>You are using named yields. Here are examples how to use them:</p>
<% content_for :head do -%>
  <script></script>
<% end -%>
<% content_for :menu do -%>
   <a href="#">home</a> <a href="#">about</a> <a href="#">forum</a> <a href="#">design</a> <a href="#">info</a> <a href="#">contact</a> 
<% end -%>



<!-- original body content -->
        <h1>Welcome to refreshed!</h1>
        <p>I thought its been a while since I've submitted anything to oswd, so here it is. This is a very simple layout, with minimal coding and a clean look. Aside from the header image, everything should load in under a second or two even on dialup.</p>
        <p>I'm using the rounded corner method found <a href="http://www.svay.com/coins_arrondis/rounded_corners.html">here</a>, and the header image is based on <a href="http://www.sxc.hu/browse.phtml?f=view&amp;id=208016">this Stock.Exchange image</a>. (No use restrictions! Yea!)</p>
        <h1>Credit</h1>
        <p>As always, if you use this design, no credit is required. But, if you'd like to, I always appreciate a link back to my <a href="http://www.thejosher.com">blog</a> or something. Feel free to use this design for whatever you want, commercial, personaly, I don't care. I would like an email to see how you use it though.</p>
        <h1>Compatability</h1>
        <p>This design renders perfectly in Firefox, IE, and Opera. <span style="text-decoration:line-through;">With the exception of IE, in that the design isn't centered, its still displays fine otherwise, but.... I'm working on this.</span> FIXED! Major kudos to Frozen. This page is 100% valid XHTML Strict, and CSS.</p>
        <h1>Customize</h1>
		<p>Instead of creating a million sub-layouts, I'm going to leave this up to you.. but while designing I found a couple of things you might like to change:</p>
		<ul>
		<li>Instead of left, you might try text-align:center on the nav. It looks cool, I'm keeping it on the left now because I think it ballances out the header text on the right.</li>
		<li>For the nav links, I've used a slightly off-white color. You might try replacing this with white, or any other light-ish color. I had a dark green orginally, but that is hard(ish) to read on some monitors.</li>
		</ul>
		<div class="footer">Copyright 2005 Your Site.com || <a href="http://www.thejosher.com">TheJosher.com</a></div>
      